<%- include('partials/header.ejs') %>

<div class="container min-vh-100 g-3">
    <% if (locals.books) { %>
        <% books.forEach((book) => { %>
            <div class="container row my-3 py-3 bg-body-secondary rounded border"><!--start loop here-->
                <div class="col-xl-4"><!--Photo-->
                    <div class="col-lg-12 d-flex justify-content-center">
                        <% if (book.cover_id) { %>
                            <img class="img-fluid " src="https://covers.openlibrary.org/b/id/<%= book.cover_id %>-L.jpg" alt="cover photo">

                        <% } else { %>
                            <img class="img-fluid" src="/images/no_cover.jpg" alt="cover photo">
                        <% } %>
                    </div>
                </div>
                <div class="col-xl-8"><!--rest of the content-->
                    <form method="post" action="/handleBook">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="fs-2"><i class="bi bi-book-half"></i> <%= book.title %></p>
                                <p class="fs-5"><i class="bi bi-pen"></i> By <%= book.author_name %> in <%= book.first_publish_year %></p>
                                <p class="fs-5"><i class="bi bi-clock"></i> <%= book.post_time %></p>
                                <p class="fs-6">Review: <%= book.review %></p>
                                <p class="fs-6">Ratings:
                                    <% for (let i = 0; i < book.rating; i++) { %>
                                        <span class="fa fa-star checked"></span>
                                    <% } %>
                                    <% for (let i = 0; i < 5 - book.rating; i++) { %>
                                        <span class="fa fa-star"></span>
                                    <% } %>
                                </p>
                            </div>
                            <div class="col-12 pt-3">
                                <input class="btn btn-secondary" type="submit" name="action" value="Edit" />
                                <input class="btn btn-danger" type="submit" name="action" value="Delete" />
                                <input type="hidden" name="book_id" value="<%= book.book_id %>"></input>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <div class="row my-3 py-3 bg-body-secondary rounded border"><!--start loop here-->
            <div class="col-xl-12">
                <p class="fs-2">Oops, it seems like you haven't add any book inside your library!</p>
            </div>    
        </div>
    <% } %>
</div>

<%- include('partials/footer.ejs') %>